/* Map Container */
#map.maplibregl-map {
  height: 100svh !important;
  overflow: hidden;
}

/* Control Styles */
.maplibregl-ctrl-bottom-right {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}

.maplibregl-ctrl-scale {
  font-family: var(--text-font);
  border-color: #4a4a4a;
  box-shadow: var(--box-shadow);
  height: 24px;
}

.maplibregl-ctrl-attrib {
  font-family: var(--text-font);
}

.maplibregl-ctrl.maplibregl-ctrl-group {
  background-color: hsl(var(--card));
  border-radius: calc(var(--radius) - 2px);
  box-shadow: var(--box-shadow);
  margin-top: 58px;
}

/* Popup Styles */
.maplibregl-popup-content {
  min-width: 180px;
  font-size: 13.5px;
  padding: 22.5px 30px 22.5px 22.5px;
  background-color: hsl(var(--card));
  border-radius: calc(var(--radius) - 2px);
  box-shadow: var(--box-shadow);
  font-family: var(--text-font);
}

/* Favorite Styles */
.favorite .maplibregl-popup-content,
.favorite .maplibregl-popup-content button:hover,
.building .maplibregl-popup-content,
.building .maplibregl-popup-content button {
  background-color: var(--popup);
  color: var(--popup-txt-red);
}

.favorite .maplibregl-popup-content button:hover {
  opacity: 0.8;
}

.favorite .maplibregl-popup-content button.primary {
  background-color: var(--popup-txt-red);
  color: var(--popup);
}

/* Shop Styles */
.shop .maplibregl-popup-content,
.shop .maplibregl-popup-content button {
  background-color: var(--popup);
  color: var(--popup-txt-blue);
}

/* Amenity Styles */
.amenity .maplibregl-popup-content,
.amenity .maplibregl-popup-content button {
  background-color: var(--popup);
  color: var(--popup-txt-purple);
}

/* Leisure Styles */
.leisure .maplibregl-popup-content,
.leisure .maplibregl-popup-content button {
  background-color: var(--popup);
  color: var(--popup-txt-green);
}

/* Focus and Border Styles */
.maplibregl-popup-content .focus-visible\:ring-ring:focus-visible,
.maplibregl-popup-content .border-input {
  --tw-ring-color: var(--popup-txt-red);
  border-color: var(--popup-txt-red);
}

/* Popup Tip and Close Button */
.maplibregl-popup-tip {
  visibility: hidden;
}

.maplibregl-popup-close-button {
  display: none;
}
